name: Release

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Run pls
        run: deno run -A src/cli.ts --storage=github --execute
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
